ol{
    width: 350px;
    list-style-type: upper-roman;
}

ul{
    list-style-type: lower-roman;
}

div{
    max-height: 4;
    overflow: auto;
    width: 400px;
    background-color: black; color: chartreuse;
}